<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" for="department">Department:</span>
  </div>
  <select class="col-sm-6 form-control" id="department" onchange={{action "changeDep" value="target.value"}}>
    <option selected value=""> -- All Departments --</option>
    {{#each departments as |dep|}}
      <option value={{dep.id}}>{{dep.name}}</option>
    {{/each}}
  </select>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" for="department">Search product name:</span>
  </div>
  <input type="text" class="col-sm-5 form-control" placeholder="Product Name" aria-label="Product Name" aria-describedby="basic-addon1" oninput={{action "searchProduct" value="target.value"}}>

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Filter by promo code:</span>
  </div>
  <input type="text" class="col-sm-3 form-control" placeholder="Promo Code" aria-label="Promo Code" aria-describedby="basic-addon1" oninput={{action "setPromoCode" value="target.value"}}>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" {{action "promoSearch"}}>{{fa-icon "search"}}</button>
  </div>
</div>
<hr>