<div class="clearfix">
  <h1 class="border-bottom py2 center">Products</h1>
</div>

{{ partial 'departments' }}

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Color</th>
    <th scope="col">Material</th>
    <th scope="col">Price</th>
    <th scope="col">Department</th>
    <th scope="col">Promo Code</th>
    <th scope="col">Discounted Price</th>
  </tr>
  </thead>
  <tbody>
  {{#each products as |product|}}
    <tr>
      <td>{{product.name}}</td>
      <td>{{product.color}}</td>
      <td>{{product.material}}</td>
      <td>{{product.price}}</td>
      <td>{{product.department.name}}</td>
      <td>
        {{#if product.promotion}}
          <b>Code:</b> {{product.promotion.code}} <br>
          <b>Type:</b> {{product.promotion.category}} <br>
          <b>Value:</b> {{product.promotion.value}} <br>
          <b>Max Value:</b> {{product.promotion.max_value}}
        {{/if}}
      </td>
      <td>{{if product.promotion product.final}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {{if prev_button_disabled 'disabled'}}"><a class="page-link" {{action "prevPage"}} href="#">Previous</a>
    </li>
    <li class="page-item {{if next_button_disabled 'disabled'}}"><a class="page-link" {{action "nextPage"}} href="#">Next</a>
    </li>
  </ul>
</nav>